<div class="dashboard-container">
  <div class="create-post-container">
    <h2>Create a Blog</h2>
    <form class="create-post-form">
      <input type="text" name="title" class="post-title" placeholder="Title" />
      <textarea
        name="content"
        class="post-content"
        placeholder="Blog post"
      ></textarea>
      <input
        type="text"
        name="username"
        class="post-username"
        placeholder="Username"
      />
      <div class="create-post-buttons">
        <button class="submit-button" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="blog-list-container">
    <h2>Your Blog Posts</h2>
    <div class="blog-list">
      {{#each blogposts}}
        <div class="blog-post">
          <h3>{{this.title}}</h3>
          <p>{{this.content}}</p>
          <p>Posted by {{this.username}}</p>
          <div class="blog-post-buttons">
            <button class="edit-button" data-id="{{this.id}}">Edit</button>
            <button class="delete-button" data-id="{{this.id}}">Delete</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>